---
import BuyerAppLayout from "../../layouts/BuyerAppLayout.astro";
import DeferredSearchGrid from "../../components/search/DeferredSearchGrid.astro";
import SkeletonProductGrid from "../../components/ui/SkeletonProductGrid.astro";
import SearchToolbar from "../../components/search/SearchToolbar.astro";
import SortModal from "../../components/search/SortModal.astro";
import FilterModal from "../../components/search/FilterModal.astro";
import { parseSearchParams } from "../../lib/products/search";
import { strings } from "../../lib/core/i18n";

const url = new URL(Astro.request.url);
const params = parseSearchParams(url);
const currentUrl = url.pathname + url.search;
---

<BuyerAppLayout title={`${strings.searchPageTitlePrefix}: ${params.q} | ${strings.siteTitle}`}>
    <SearchToolbar slot="afterHeader" params={params} />

    <main class="min-h-[50vh]">
        <DeferredSearchGrid server:defer>
            <SkeletonProductGrid count={8} slot="fallback" />
        </DeferredSearchGrid>
    </main>

    <FilterModal params={params} currentUrl={currentUrl} />
    <SortModal params={params} currentUrl={currentUrl} />
</BuyerAppLayout>
